.App {
  background-color: #101010;
}

#search-form {
  margin: 30px;
}

#search-selector {
  margin: 30px;
  text-align: center;
}

.App-header {
  background-color: #1CC1AA;
  height: 200px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 2.0em;
}

#search-form-wrapper {
  text-align: center;
}

#search-bar {
  font-size: 36px;
  background-color: #BEBEBE;
  padding: 10px;
  border-radius: 10px;
}

.search-selector-button {
  display: inline;
  /* border-color: grey;
  border-style: solid; */
  border-style: solid;
  border-color: black;
  border-radius: 20px;
  background-color: #808080;
  display:inline-block;
  transition: background-color 0.2s;
}
.search-selector-button:hover{
  background-color: #32CD32;
}
.search-selector-button.lit {
  background-color: green;
}

.search-selector-button-image {
  margin: 30px;
  max-height: 200px;
  max-width: 200px;
  margin: 10px;
}

#results-wrapper {
  border-style: solid;
  border-color: black;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  background-color: #484848;
}

#prevnext-button-wrapper {
  text-align: center;
}

.prevnext-button {
  font-size: 24px;
  background-color: #BEBEBE;
  padding: 5px;
  margin: 5px;
  border-style: solid;
  border-radius: 10px;
  transition: background-color 0.5s ease;
}
.prevnext-button:active {
  background-color: #006400;
}
.prevnext-button:hover {
  background-color: #32CD32;
}

img.search-result-image {
  /* max-width: 200px; */
  max-height: 200px;
  border-style: solid;
  border-color: black;
  border-radius: 15px;
  margin: 10px;
  transition: all .2s;
  /* float: left; */
}
img.search-result-image:hover{
  transform: scale(1.1);
}

.search-result-image-wrapper {
  /* border-style: solid;
  border-color: black;
  border-radius: 10px; */
  text-align: center;
  /* margin: 10px; */
  display:inline-block;
  /* background-color: #808080; */
}

.memeify-button {
  text-align: center;
  position: relative;
  width: 80px;
  bottom: 55px;
  left: 15px;
  background-color: #202020;
  color: white;
  padding: 8px;
  border-radius: 8px;
  opacity: 0;
  transition: background-color 0.2s, opacity 0.5s;
  display: block;
  /* float: left; */
}
/* .memeify-button:hover .search-result-image{
  transform: scale(1.1);
} */
.memeify-button:hover {
  background-color: #006400;
}
.search-result-image-wrapper:hover .memeify-button{
  opacity: 1
}

.memeify-button-toolbar {
  padding: 8px;
  border-radius: 8px;
  background-color: #202020;
  transition: background-color 0.2s,
}
.memeify-button-toolbar:hover {
  background-color: #006400;
}

.fireLogo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.headerText {
  font-size: large;
  font-family: "Trebuchet MS", Helvetica, sans-serif
}

.active {
  background: orange;
}
